{% extends 'base.html' %}

{% block title %}
    Все результаты
{% endblock %}

{% block name %}
    Все результаты
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="">
                <i class="feather icon-home"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Все результаты</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {% include 'app/include/user_quiz/table.html' with user_quizzes=user_quizzes %}
{% endblock %}