{% extends 'base.html' %}

{% block title %}
    Список тестов
{% endblock %}

{% block name %}
    Результаты тестов
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="">
                <i class="feather icon-home"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Результаты тестов</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {% if user_quizzes.exists %}
        <a href="{% url 'app:start_quiz' %}" class="btn btn-sm btn-success w-100 d-block m-auto mb-4" style="max-width: 200px; margin: 10px auto !important; margin-top: -20px !important;">
            <i class="feather icon-edit"></i>
            Пройти тест
        </a>
        {% include 'app/include/user_quiz/table.html' with user_quizzes=user_quizzes %}
    {% else %}
        <div class="text-black-50 text-center mt-4 w-100 m-auto d-block">
            <span class="d-block">У вас нет пройденных тестов</span>
            <a href="{% url 'app:start_quiz' %}" class="btn btn-sm btn-success mt-3">
                Пройти тест
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block script %}

{% endblock %}