{% extends 'base.html' %}

{% block title %}
    Планы
{% endblock %}

{% block name %}
    Планы
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="">
                <i class="feather icon-home"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">Подписка</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {% if not active_subscriptions %}
        <div class="text-center">
            У вас нет активных подписок
        </div>
        <hr>
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-sm-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="text-warning">Разовый</h4>
                    </div>
                    <div class="card-body text-center">
                        299 рублей / месяц
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'app:activate_subscription' %}?type=monthly" target="_blank"
                           class="btn btn-warning w-100">
                            Подписка
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h4 class="text-warning">Годовой</h4>
                    </div>
                    <div class="card-body text-center">
                        2990 рублей / месяц <span class="text-danger">(-17%)</span>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'app:activate_subscription' %}?type=annual" target="_blank"
                           class="btn btn-warning w-100">
                            Подписка
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="card-header text-center">
                    <h4 class="text-warning">Акция</h4>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: space-between; height: 90%">
                    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; width: 100%;">
                        <div class="card-body text-center">

                            <b>0 рублей/год*</b>
                            
                        </div>
                        <div class="card-footer">
                            <span>* после оплаты разовой подписки открывается возможность получения годовой подписки, если 5 человек зарегистрируется по вашей персональной реферальной ссылке из личного кабинета</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='subs-info'>Выберите удобный тариф разовый (299 рублей) , годовой (2990 рублей)  или приведите 5 друзей по реферальной ссылке из <a href="{% url 'app:cabinet'%}"> личного кабинета</a> и получите бесплатную подписку на 1 год.
                <br> 
                Приобретение подписки позволит рассчитать предполагаемую продолжительность жизни на момент проведения тестирования; выявить показатели, требующие коррекции для увеличения продолжительности жизни;
                 активирует функцию динамического наблюдения за изменением показателей;
                 активирует формирование рекомендаций, осуществляемых искусственным интеллектом на основе тестирования (носит рекомендательный характер).
            </div>
        </div>
    {% else %}
        <div class="text-center">
            <div class="row justify-content-center">
                {% for subscription in active_subscriptions %}
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="card-header text-success">
                                <i class="feather icon-check-square"></i>
                                {{ subscription.get_type_display }}
                            </div>
                            <div class="card-body">
                                Дата подписки: {{ subscription.start_datetime|date:'d-m-Y' }}<br>
                                Дата окончания: {{ subscription.end_datetime|date:'d-m-Y' }}<br>
                                <hr>
                                <br>
                                ID оплаты: {{ subscription.payment.yookassa_id }}
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'app:remove_subscription' subscription.id %}"
                                   class="btn btn-outline-danger w-100">
                                    Отменить
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <hr>
    <div class="text-center">
        Проблемы с оплатой? <a href="{% url 'landing:home' %}#contact">Напишите нам</a>
    </div>
{% endblock %}
